<div class="row container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-info">Twitter for Trump</div>
    <div class="col-md-2"></div>
</div>

<br>

<div *ngFor="let tweet of tweets index as i" class="row container-fluid tweet">
    <div class="col-md-2" style="display: flex; flex-direction: column; align-items: center;">
        <img src="assets/img/trump.jpg" alt="Trump">
        <h2>{{ tweet.name }}</h2>
        <h3 class="h4">{{ tweet.date | date}}</h3>
    </div>

    <span style="display: flex; flex-flow: row nowrap; align-items: center;">
        <div class="col-md-8 alert-info tweet-txt" [ngClass]="{'special-word': tweet.text.includes('Democrats')}">
            {{ tweet.text }}
        </div>
        
        <div class="col-md-2" style="margin-left: 1.69rem;">
            <p class="badge" [ngClass]="{'special-likes': tweet.likes > 200000}">{{ tweet.likes | number }}</p>
        </div>
    </span>
</div>