.row {
    align-items: center;
}

.badge {
    color: white;
    background: #444;
    border-radius: .69rem;
    font-family: monospace;
}

img {
    max-width: 50%;
    border-radius: 100%;
}

.tweet-txt {
    border-radius: .5rem;
    padding: 1rem;
}

.tweet {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 3rem;
}