<div class="row container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-info">Twitter for Trump</div>
    <div class="col-md-2"></div>
</div>

<br>

<div class="row container-fluid tweet">
    <div class="col-md-2">
        <img src="assets/img/trump.jpg" alt="Trump">
    </div>

    <div class="col-md-8 alert-info tweet-txt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempore qui iste provident, eligendi beatae? Tempora, necessitatibus illo architecto quas exercitationem hic nobis eaque tenetur perspiciatis cum ab, repudiandae porro.
    </div>

    <div class="col-md-2">
        <p class="badge">99+</p>
    </div>
</div>